# Railway API Configuration
RAILWAY_TOKEN=
PROJECT_ID=
ENVIRONMENT_ID=

# Admin Dashboard Auth
ADMIN_KEY=admin_password_here
SESSION_SECRET=a_random_unbreakable_string_here

# Encryption at Rest
# This key is used to encrypt previous secrets in SQLite. 
# Keep it safe! If you lose it, you can't decrypt history.
MASTER_KEY=another_random_unbreakable_string_here
